* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 100%;
  height: 1804px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_41 {
  width: 100%;
  height: 5204px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_9 {
  width: 780px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 84px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v9_91 {
  width: 780px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 106px;
  left: 84px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v9_92 {
  width: 780px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3106px;
  left: 84px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v2_17 {
  width: 412px;
  color: url("../images/v2_17.png");
  position: absolute;
  top: 188px;
  left: 84px;
  font-family: Fira Mono;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_171 {
  width: 412px;
  color: url("../images/v2_17.png");
  position: absolute;
  top: 268px;
  left: 84px;
  font-family: Fira Mono;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_172 {
  width: 412px;
  color: url("../images/v2_17.png");
  position: absolute;
  top: 3270px;
  left: 84px;
  font-family: Fira Mono;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.optimizing-medication-manageme {
  width: 605px; 
  color: rgba(242, 153, 74, 1);
  position: absolute;
  top: 188px;
  left: 84px; 
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Abril Fatface;
  font-weight: Bold;
}
.i-have-worked {
  width: 605px; 
  color: rgba(242, 153, 74, 1);
  position: absolute;
  top: 3190px;
  left: 84px; 
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Abril Fatface;
  font-weight: Bold;
}.div-3 {
  max-width: 581px;
  color: rgba(242, 153, 74, 1);
  position: absolute;
  top: 1608px;
  left: 84px; 
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Abril Fatface;
  font-weight: Bold;
}
.v2_7 {
  width: 578px;
  height: 433px;
  background: url("../images/v2_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 554px;
  overflow: hidden;
}
.v2_6 {
  width: 582px;
  height: 473px;
  background: url("../images/v2_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 991px;
  left: 24px;
  overflow: hidden;
}
.v2_8 {
  width: 570px;
  height: 466px;
  background: url("../images/v2_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1464px;
  left: 24px;
  overflow: hidden;
}
.v2_16 {
  width: 530px;
  color: rgba(47,128,237,1);
  position: absolute;
  top: 637px;
  left: 594px;
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}

.v12_143 {
  width: 100%;
  height: 1609px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_2 {
  width: 780px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 93px;
  left: 79px;
  font-family: Josefin Sans;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v24_3 {
  width: 605px;
  color: rgba(242,153,74,1);
  position: absolute;
  top: 175px;
  left: 75px;
  font-family: Abril Fatface;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v24_19 {
  width: 605px;
  color: rgba(242,153,74,1);
  position: absolute;
  top: 1023px;
  left: 75px;
  font-family: Abril Fatface;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v24_4 {
  width: 619px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 239px;
  left: 75px;
  font-family: Fira Mono;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v24_12 {
  width: 619px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 1087px;
  left: 75px;
  font-family: Fira Mono;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}