
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}


html,body{font-family:Fira Mono;font-size:16px;font-weight: normal;text-align: left;padding-left:5px;padding-right:5px;max-width: 600px}
html{overflow-x:hidden}
h1{font-size:42px;color: rgba(0,0,0,1);font-family: Josefin Sans;font-weight: 700}
h2{font-size:30px;color: rgba(242,153,74,1);font-family: Abril Fatface;font-weight: Regular}
h4{font-size:20px;font-family: Fira Mono;font-weight: 700}
h3{font-size:16px;font-family: Fira Mono;font-weight: Regular}
h5{font-size:16px;font-family: Fira Mono;font-weight: 500}
h1,h2,h3,h4,h5,h6{margin:10px 0}


p{width: 100%; max-width: 800px}
p[type="main"]{width: 100%; max-width: 412px}

p[type="caption"]{margin-left: 30px; color: rgba(47,128,237,1)}

a {color: rgba(47,128,237,1)}

img {width: 100%;max-width: 400px;display:block}

/*article and aside viewport settings*/

@media (min-width: 501px) {

  h1{grid-column:1; grid-row:1}
  article {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
  }

  aside {
    grid-column: 2;
    grid-row: 3;
    margin: 0 auto;
    padding: 10px;
    padding-left: .5rem;
    margin-left: .5rem;
   
  }

  .box {
  max-width: 800px;
  padding: 10px;
  margin: 20px;
}

}

@media (max-width: 500px) {

  article {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
  }

  aside {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
    padding: 10px;
    padding-left: .5rem;
    margin-left: .5rem;
   
  }

  .box {
  max-width: 400px;
  padding: 10px;
  margin: 20px;
}

}


/*sidebars*/

@media screen and (min-width: 0px) {
  .sidebar {
    width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
/*    background-color: rgba(242,153,74,1);
*/  }

  .sidebar a {padding-left:15px;float:left;width:auto;border:none;display:block;outline:0; padding-right: 20px;text-decoration: none;font-size:20px;font-weight: 700;color: rgba(242,153,74,1)}
  /*div.content {margin-left: 0;}*/
}

/*@media screen and (max-width: 500px) {

.sidebar a {
    text-align: center;
    float: none;
  }


.sidebar a {
  display: block;
  color: black;
  padding: 7px;
  text-decoration: none;
  font-weight: 700;
  color: rgba(242,153,74,1)

}
*/
/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgba(242,153,74,1);
  color: white;
}



/*containers*/

@media (min-width: 501px) {

  .container_research {
    width: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:20px;

  }


  .wrapper2 {
    max-width: 950px;
    left: 166px;

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;

    position: relative;
    overflow: hidden;

  }
}

@media (max-width: 500px) {

  .container_research {
    width: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:20px;

  }


  .wrapper2 {
    max-width: 400px;
/*    left: 50px;
*/    padding-left: 15px;
    padding-right:20px;

    display: grid;
/*    grid-template-columns: 2fr 4fr;
    grid-auto-rows: auto;*/

    position: relative;
    overflow: hidden;

  }
}

/*extras*/

.name {color: rgba(47,128,237,1); font-weight: 700}




/*things to experiment with from the old version*/

/*h1 {
  grid-column: 1 / 2;
  grid-row: 1;
}
*/