/* Desktop - 1 */
#n11_0 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(33, 48, 72);
}
 
 	/* Osman Moneer */
	#n3_0 {
		font-family: Rubik;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: left;
		justify-content: flex-start;
		width: 538px;
		transform: translate(0px, 0px);
		line-height: 84.375px;
		height: 90px;
		left: 361px;
		top: 51px;
	}



	/* Rectangle 1 */
	#n14_3 {
		background: rgb(160, 110, 110);
		width: 1017px;
		top: 135px;
		height: 130px;
	}
  	/* About Me */
	#n5_2 {
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-end;
		text-align: right;
		width: 250px;
		transform: translate(0px, 0px);
		line-height: 37.5px;
		height: 50px;
		left: 77px;
		top: 140px;;

	}
 
	/* I was born in Fort Worth, Texas and currently live in New Haven, Connecticut. I am fascinated by emerging healthcare technologies, and am interested in simultaneously exploring the basic and clinical science methods responsible for their creation as well as the resultant health policies required as a consequence of their development. In my free time I like to read short stories, paint, and perfect my coffee brew. */
	#n6_2 {
		align-items: normal;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 600px;
		transform: translate(0px, 0px);
		line-height: 18.75px;
		height: 250px;
		left: 361px;
		top: 140px;
	}
 
		/* Style 1*/
		#n6_2-245 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 
		/* Style 2*/
		#n6_2-244 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 700;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 

	/* Rectangle 2 */
	#n14_4 {
		background: rgb(160, 110, 110);
		width: 1017px;
		top: 280px;
		height: 130px;
	}
  	/* Education */
	#n5_4 {
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-end;
		width: 250px;
		transform: translate(0px, 0px);
		line-height: 37.5px;
		height: 50px;
		left: 77px;
		top: 285px;
	}

	/* Yale University M.D. Candidate at Yale School of Medicine Columbia University B.A. in Chemical Physics, Concentration in Biology John Jay Scholar, Societe de Chimie Industrielle Fellow */
	#n6_4 {
		align-items: normal;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 600px;
		transform: translate(0px, 0px);
		line-height: 18.75px;
		height: 250px;
		left: 361px;
		top: 285px;
	}
 
		/* Style 1*/
		#n6_4-232 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 700;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 
		/* Style 2*/
		#n6_4-231 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 
	/* Rectangle 3 */
	#n14_5 {
		background: rgb(160, 110, 110);
		width: 1017px;
		top: 425px;
		height: 225px;
	}
 	/* Select Past Experience */
	#n5_5 {
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-end;
		width: 300px;
		transform: translate(0px, 0px);
		line-height: 37.5px;
		height: 100px;
		left: 27px;
		top: 430px;
	}
	/* ClearView Healthcare Partners...*/
	#n6_5 {
		align-items: normal;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 600px;
		transform: translate(0px, 0px);
		line-height: 18.75px;
		height: 250px;
		left: 361px;
		top: 430px;
	}
 
		/* Style 1*/
		#n6_5-728 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 700;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 
		/* Style 2*/
		#n6_5-727 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 

 		/* Rectangle 4 */
		#n14_6 {
			background: rgb(160, 110, 110);
			width: 1017px;
			top: 665px;
			height: 100px;
		}

 
	/* Reading Updates */
	#n5_3 {
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-end;
		width: 250px;
		transform: translate(0px, 0px);
		line-height: 37.5px;
		height: 50px;
		left: 77px;
		top: 670px;
	}
 
	/* I am currently reading White Teeth by Zadie Smith. I previously read The Source of Self Regard by Toni Morrison. */
	#n6_3 {
		align-items: normal;
		color: rgb(0, 0, 0);
		vertical-align: middle;
		justify-content: flex-start;
		width: 600px;
		transform: translate(0px, 0px);
		line-height: 18.75px;
		height: 250px;
		left: 361px;
		top: 670px;
	}
 
		/* Style 1*/
		#n6_3-5 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 400;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}
 
		/* Style 2*/
		#n6_3-4 {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 700;
			line-height: 18.75px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(0, 0, 0);
		}


 

